<div th:fragment="pageDiv">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li><a class="first">首页</a></li>
        <li><a class="pre">上一页</a></li>
        <li><a class="next">下一页</a></li>
        <li><a class="last">尾页</a></li>
        <li><a class="rowCount">总记录数(0)</a></li>
        <li><a class="pageCount">总页数(0)</a></li>
        <li><a class="pageCurrent">当前页(1)</a></li>
    </ul>
    <script type="text/javascript">
        function doSetPagination(page) {
            //1.始化数据
            $(".rowCount").html("总记录数(" + page.rowCount + ")");
            $(".pageCount").html("总页数(" + page.pageCount + ")");
            $(".pageCurrent").html("当前页(" + page.pageCurrent + ")");
            //2.绑定数据(为后续对此数据的使用提供服务)
            $("#pageId").data("pageCurrent", page.pageCurrent);
            $("#pageId").data("pageCount", page.pageCount);
        }

        $(function () {
            //事件注册
            $("#pageId").on("click", ".first,.pre,.next,.last", doJumpToPage);
        });

    </script>
</div>







